:root{
    --color-orange: #ED4E08;
    --color-grey: #5B5B5B;
    --color-black: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    padding-bottom: 0px;
}

/* Common classes */

.d--flex {
    display: flex;
}

.d--justCenter {
    justify-content: center;
}

.d--justSpaceBtw {
    justify-content: space-between;
}

.d--alignCenter {
    align-items: center;
}

.d--alignStart {
    align-items: flex-start;
}

.main_wrapper {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.f--bold {
    font-weight: 700;
}

.mt--85 {
    margin-top: 85px;
}

.text--orange {
    color: var(--color-orange);
}

.text--black {
    color: #000000;
}
.bg--orange {
    background: var(--color-orange);
}

.section_black-bg {
    background: black;
}

.img-responsive{
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* Common style ends */

.section p {
    margin-bottom: 0;
}

.wrapper--container {
    max-width: 1310px;
    width: 100%;
    margin: 0 auto;
    padding: 0 36px;
}

/* Header style */
.main_wrapper .header {
    box-shadow: none;
}

.main_wrapper .header .content {
    width: 100%;
}

.header_pos {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    padding-top: 47px;
    background: transparent;
}

.header_logo svg {
    max-width: 198px;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.header-link {
    margin-right: 40px;
    list-style: none;
}

.header-link:last-child {
    margin-right: 0px;
}

.header-link a {
    text-decoration: none;
    font-size: 18px;
    line-height: 22px;
    text-transform: capitalize;
    color: #000000;
}

.header-link:hover a {
    color: var(--color-orange);
}

.header-link .link_arrow {
    margin-left: 8px;
}

/* Header ends */

/* Section 1 style */
.section_1 {
    min-height: 644px;
    background-size: cover;
    background-position: center;
}

.section_1 h1 {
    color: #000000;
    letter-spacing: 0px;
    font-weight: bold;
    font-size: 52px;
    line-height: 64px;
}

.section.section_1 h2 {
    font-size: 22px;
    line-height: 33px;
    color: var(--color-grey);
    font-weight: normal;
    margin-top: 37px;
    max-width: 636px;
}

.block_wrapper {
    padding-top: 144px;
    padding-bottom: 50px;
}

.section_1 .block_left {
    max-width: 828px;
    width: 100%;
}

.section_1 .block_right {
    max-width: 497px;
    width: 100%;
    margin-left: 20px;
}

.block_btn-style span.btn__arrow{
    transition: all 0.3s ease-out;
}

.block_btn-style:hover span.btn__arrow{
    transform: translateX(10px);
    transition: all 0.3s ease-out;
}

.block_btn-style span svg{
    display: block;
    margin-left: 11px;
}

.section_1 .block_right .block_btn-style, .section_1 .block_left .block_btn-style {
    width: 100%;
    height: 78px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #ffffff;
    font-size: 25px;
    line-height: 37.5px;
    transition: 0.3s ease-in;
    text-decoration: none;
    font-weight: 600;
}

.section_1 .block_left .block_btn-style{
    max-width: 367px;
    width: 100%;
    margin-top: 61px;
}

/* .section_1 .block_right .block_btn-style:hover {
    text-decoration: underline;
    transition: 0.3s ease-in;
} */

/* Section 1 ends */

.section_2 {
    padding-top: 139px;
}

/* section styles */
.section_card-wrapper {
    margin-top: 45px;
}

/* card styles */
.section_card {
    max-width: 398px;
    width: 100%;
    min-height: 320px;
    padding: 10px;
    border: 1px solid #707070;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* margin-right: 20px; */
    cursor: pointer;
    transition: 0.3s ease-in;
}

.section_card:last-child {
    margin-right: 0px;
}

.card_icon .icon--style svg {
    max-width: 91px;
    width: 100%;
    height: auto;
}

.section_text {
    font-size: 20px;
    line-height: 34px;
    text-align: center;
    color: #ffffff;
    font-weight: normal;
    letter-spacing: 0;
    max-width: 233px;
    width: 100%;
    margin-top: 45px;
    transition: 0.3s ease-in;
}

.hover_icon {
    display: none;
}

.section_card:hover {
    background: #ffffff;
    transition: 0.3s ease-in;
}

.section_card:hover .default_icon {
    display: none;
    transition: 0.3s ease-in;
}

.section_card:hover .hover_icon {
    display: block;
    transition: 0.3s ease-in;
}

.section_card:hover .section_text {
    color: #000000;
    transition: 0.3s ease-in;
}

/* Section 3 styles */
.section_3 {
    margin-top: 198px;
    margin-bottom: 190px;
}

.head-icon {
    max-width: 28px;
    width: 100%;
    height: 28px;
    border-radius: 50%;
    background: var(--color-orange);
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon--check {
    display: inline-block;
    transform: rotate(45deg);
    height: 14px;
    width: 8px;
    border-bottom: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    margin-top: -4px;
}

.section_3 h3 {
    max-width: 521px;
    width: 100%;
}
.section_3 .section_wrapper {
    margin-top: 108px;
}

.section_text-card {
    margin-right: 20px;
}

.section_text-card:last-child {
    margin-right: 0px;
}

.section_text-card .head-text,
.section_text-card .section_text-para {
    color: #ffffff;
}

.section_text-card .head-text {
    margin-left: 11px;
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 1.2;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.section_text-card .section_text-para {
    font-size: 20px;
    line-height: 34px;
    max-width: 402px;
    margin-top: 20px;
}

/* Section 4 */
.section_4 {
    padding-top: 139px;
    padding-bottom: 241px;
    border-top: 1px solid #ffffff;
}

.section .sec_dis {
    font-size: 20px;
    color: #ffffff;
    margin-top: 19px;
}

.section .sec_dis a {
    text-decoration: none;
}

.section .sec_dis a:hover {
    text-decoration: underline;
}

/*  Roles Filter areas style */

.roles_search-form {
    margin-top: 60px;
}

.section_4 .job-search-form {
    padding: 0;
    width: 100%;
    display: flex;
    position: relative;
}

.section_4 .input-search,
.section_4 .job-search-form select {
    max-width: 560px;
    width: 100%;
    height: 72px;
    border-radius: 72px;
    padding: 15px 42px;
    font-size: 20px;
    /* line-height: 24px; */
    color: #000000;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 400;
    cursor: pointer;
}

.section_4 .input-search {
    cursor: default;
}

.section_4 .job-search-form select {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='56' height='37' viewBox='0 0 56 37'%3E%3Cdefs%3E%3CclipPath id='clip-Artboard_1'%3E%3Crect width='56' height='37'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Artboard_1' data-name='Artboard – 1' clip-path='url(%23clip-Artboard_1)'%3E%3Crect width='56' height='37' fill='%23fff'/%3E%3Cpath id='Path_4380' data-name='Path 4380' d='M10187.724,3132l9.187,9.186,9.187-9.186' transform='translate(-10168.91 -3118.093)' fill='none' stroke='%23000' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
}

.section_4 .input-search::placeholder {
    color: #000000;
}

.section .btn-custom {
    min-width: 200px;
    height: 72px;
    border-radius: 72px;
    background: var(--color-orange);
    font-size: 20px;
    font-weight: normal;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section .btn-custom:active,
.section .btn-custom.active {
    background-color: var(--color-orange);
    border-color: transparent;
}

.section .btn-custom:hover {
    background-color: var(--color-orange);
    border-color: transparent;
}

.section_4 input.btn.btn-custom {
    font-size: 24px;
}

/* .section_4 input.btn.btn-custom:hover {
    text-decoration: underline;
} */

/* filter form area ends */

/* Job listing area starts */

.section_4 .job_listing-area {
    margin-top: 120px;
}

.section .page-title {
    padding: 0;
}

.section .job-role-list > ul {
    border: 0;
}

.section .job-role-list > ul > li {
    padding: 55px 0 0;
}

.section .job-role-list .role-count {
    display: none !important;
}

.section .job-list > li {
    padding: 20px 67px;
    min-height: 200px;
    background: #1a1a1a;
    margin-bottom: 38px;
    border-radius: 0;
}

.section.section_4 .row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_4 .row {
    margin: 0;
}

.section .job-role-list .role-title h5 {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.2;
    letter-spacing: 0;
    margin-bottom: 40px;
    color: #ffffff;
}

.section .job-list-info,
.section .job-location {
    padding: 0px;
    float: none;
    width: 80%;
}

.section .job-list .job-location {
    text-align: left;
    padding: 25px 0 0;
}

.section .job-list .job-title {
    margin-bottom: 0px;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 28px;
    line-height: 1.5;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 0;
    transition: 0.2s ease-in;
}

.section .list_flex-wrap {
    width: 100%;
}

.section .job-cta-wrap {
    margin-left: 15px;
    visibility: hidden;
    transition: 0.1s ease-out;
}

.section .job-cta-wrap a.location-info {
    background: var(--color-orange);
    display: block;
    color: #ffffff;
    min-width: 237px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 72px;
    border-radius: 72px;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.2;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

/* .section .job-cta-wrap a.location-info:hover {
    text-decoration: underline;
} */

.section .job_type,
.section .job_location_wrap {
    font-size: 16px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #707070;
    transition: 0.2s ease-in;
}

.section .center_dot {
    width: 6px;
    height: 6px;
    display: inline-block;
    background: #707070;
    border-radius: 50%;
    vertical-align: middle;
    margin: -4px 5px 0;
    transition: 0.2s ease-in;
}

/* Hover state for job listing  card */
.section .job-list li:hover {
    background: #ffffff;
    transition: 0.2s ease-in;
}

.section .job-list li:hover .job-title {
    color: var(--color-orange);
    transition: 0.2s ease-in;
}
.section .job-list li:hover .job_type,
.section .job-list li:hover .job_location_wrap {
    color: #000000;
    transition: 0.2s ease-in;
}

.section .job-list li:hover .center_dot {
    background: #000000;
    transition: 0.2s ease-in;
}

.section .job-list li:hover .job-cta-wrap {
    visibility: visible;
    transition: 0.2s ease-in;
}

/* job listing ends */

/* Section 4  ends*/

/* Grid bo styling */

.display_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 65px;
    row-gap: 78px;
}


.section_4 .job-search-form input[name="[remote]"]{
    position: absolute;
    bottom: -40px;
    left: 0px;
    width: 20px;
    height: 20px;
}

.section_4 .job-search-form .remote-location-only {
    position: absolute;
    bottom: -46px;
    left: 30px;
    font-size: 20px;
}

.section_1 .section_para p{
    font-size: 20px;
    line-height: 34px;
    color: #000000;
    font-weight: normal;
    /* margin-top: 26px; */
    /* max-width: 728px; */
    font-size: 40px;
    font-weight: 600;
}

/* .section_1 .section_para p:last-child{
    margin-top: 15px;
} */
.vertical_text-swiper{
    height: 110px;
    font-weight: 700;
    visibility: hidden;
    display: inline-block;
}

.vertical_text-swiper.swiper-initialized {
    visibility: visible;
}

.vertical_text-swiper p.swiper-slide{
    font-size: 70px;
}


@media only screen and (max-width: 920px) {
    /* Section 1  */

    .block_wrapper {
        flex-direction: column;
        align-items: flex-start;
    }

    .section_1 .block_left .hide--mobile {
        display: none;
    }

    .section_1 .block_right {
        margin-left: 0px;
        margin-top: 20px;
    }
    /* section 1 ends */

    /* Section 2 styles */
    .display_grid {
        column-gap: 26px;
        row-gap: 26px;
    }
    /* section 2 ends */

    /* section 4 starts */

    .roles_search-form {
        margin-top: 15px;
    }
    .section_4 .job-search-form {
        flex-direction: column;
    }

    .section_4 .input-search,
    .section_4 .job-search-form select {
        max-width: 100%;
        margin-top: 20px;
    }

    .section .job-search-form .btn-custom,
    .section .job-search-form select {
        margin-left: 0;
        margin-top: 45px;
    }
    /* section 4 ends */
}

@media only screen and (max-width: 768px) {
    /* Header Section */
    /* .header_flex {
        flex-direction: column;
    } */

    .header_pos {
        padding-top: 30px;
    }

    .header_links-wrap {
        margin-top: 20px;
    }

    .block_wrapper {
        padding: 90px 0 50px;
    }

    .header_logo svg {
        max-width: 120px;
        width: 100%;
        height: auto;
    }

    .header-link {
        margin-right: 16px;
    }

    .header-link a {
        font-size: 16px;
    }

    .header-link .link_arrow {
        margin-left: 2px;
    }

    .link_arrow svg {
        width: 12%;
        height: auto;
    }

    /* Header section ends */
    .wrapper--container {
        max-width: 608px;
    }

    /* section 1 starts */
    .section_1 {
        min-height: 423px;
    }

    .section h3,
    .section h1 {
        font-size: 36px;
        line-height: 1.2;
    }

    .section_1 h1 {
        max-width: 410px;
    }

    .section_1 h2{
        font-size: 18px;
        line-height: 27px;
        margin-top: 20px;
        max-width: 535px;
    }

    .section_1 .block_right .block_btn-style, .section_1 .block_left .block_btn-style {
        height: 50px;
        border-radius: 50px;
        max-width: 240px;
        font-size: 18px;
        line-height: 21px;
    }

    /* section 1 ends */

    /* Section 2 starts */
    .section_2 {
        padding-top: 80px;
    }

    .section_card {
        min-height: 145px;
    }

    .card_icon .icon--style svg {
        max-width: 57px;
    }

    .section_text {
        font-size: 12px;
        line-height: 1.5;
        margin-top: 20px;
    }

    /* section 2 ends */

    /* Section 3 starts */
    .section_3 {
        margin: 80px 0;
    }

    .section_3 h3 {
        max-width: 100%;
        text-align: center;
        line-height: 1.4;
    }

    .section_3 .section_wrapper {
        margin-top: 0px;
    }

    .section3_flex {
        flex-direction: column;
        align-items: center;
    }

    .section_text-card {
        margin-top: 50px;
        margin-right: 0;
    }

    .section_text-head {
        justify-content: center;
    }

    .section_text-para {
        text-align: center;
    }
    /* section 3 ends */

    /* section 4 styles */
    .section_4 {
        padding-top: 80px;
        padding-bottom: 160px;
    }

    .section_4 .job_listing-area {
        margin-top: 80px;
    }

    .section .job-role-list > ul > li {
        padding: 46px 0 0px;
    }

    .section .job-role-list .role-title h5 {
        font-size: 32px;
    }

    .section .job-list > li {
        padding: 20px 30px;
        min-height: 123px;
    }

    .section .job-list .job-title {
        font-size: 18px;
    }

    .section .job_type,
    .section .job_location_wrap {
        font-size: 12px;
    }

    .section .job-cta-wrap a.location-info {
        min-width: 113px;
        font-size: 12px;
        min-height: 33px;
        border-radius: 33px;
    }

    .section .center_dot {
        margin: 0 5px 0;
    }

    .section .job-list-info,
    .section .job-location {
        width: 100%;
    }

    .section .job-list .job-location {
        padding-top: 10px;
        margin-top: 0px;
        border: 0;
    }

    .section .mobile-role-count {
        display: none;
    }

    .section .job-list .location-info {
        width: 100%;
    }

    .section .page-title {
        text-align: left;
    }

    .section .sec_dis {
        line-height: 34px;
    }
    /* section 4 ends */
}

@media only screen and (max-width: 520px) {
    .wrapper--container {
        padding: 0 36px;
    }

    /* Header section  */
    .header_links-wrap {
        margin-top: 15px;
    }

    .header-link a {
        font-size: 14px;
        list-style: 1.2;
    }
    /* Header section ends */
    /* Section 1 */

    .section_1 {
        min-height: auto;
        padding: 40px 0 66px;
    }

    .block_wrapper {
        align-items: center;
        padding: 35px 0 0;
    }

    .section h3,
    .section h1 {
        font-size: 30px;
        line-height: 1.4;
    }

    .section h1 {
        text-align: center;
    }

    .section h2{
        max-width: 100%;
        line-height: 1.4;
        text-align: center;
    }

    .section_1 .block_right, .section_1 .block_left .block_btn-style {
        max-width: 250px;
    }

    .section_1 .block_left .block_btn-style{
        margin-left: auto;
        margin-right: auto;
    }

    /* section 1 ends */
    /* section 2 starts */
    .display_grid {
        grid-template-columns: repeat(2, 2fr);
        column-gap: 2em;
    }

    .card_icon .icon--style svg {
        max-width: 54px;
    }

    .section_text {
        margin-top: 12px;
    }
    /* section 2 ends */

    /* section 3 starts */
    .section_3 {
        margin-top: 80px;
    }
    /* section 3 ends */

    /* Section 4 starts */

    .section_4 {
        padding-bottom: 104px;
    }

    .section .sec_dis {
        font-size: 18px;
        line-height: 27px;
    }

    .section_4 .input-search,
    .section_4 .job-search-form select {
        height: 41px;
        font-size: 16px;
        padding: 8px 24px;
    }

    .section .job-search-form .btn-custom,
    .section .job-search-form select {
        margin-top: 25px;
    }

    .section_4 .job-search-form select {
        background-size: 50px;
    }

    .section .btn-custom {
        height: 41px;
        font-size: 16px;
    }

    .section_4 input.btn.btn-custom {
        font-size: 16px;
    }

    .list_flex-wrap {
        flex-direction: column;
        align-items: flex-start;
    }

    .section .job-cta-wrap {
        margin-left: 0px;
        margin-top: 26px;
        visibility: visible;
        display: none;
    }

    .section .job-list > li {
        padding: 30px;
    }

    .section .job-list li:hover .job-cta-wrap {
        display: block;
    }

    .section .job-role-list .role-title h5 {
        font-size: 24px;
        line-height: 1.3;
        margin-bottom: 20px;
    }
    /* section 4 ends */

    .section_4 .job-search-form input[name="[remote]"] {
        bottom: -40px;
        left: 0px;
        width: 14px;
        height: 14px;
    }

    .section_4 .job-search-form .remote-location-only {
        position: absolute;
        bottom: -46px;
        left: 23px;
        font-size: 16px;
    }
}

/* Custom style for Job description page */

.job-details-header {
    background: var(--color-orange);
}

.job-details-header .btn-custom,
.job-details-header .btn-custom:hover {
    background: #ffffff;
    color: #000000;
}

.btn-primary {
    background: var(--color-orange);
    border: none;
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--color-orange);
    border-color: transparent;
}

.application-btn .btn.btn-primary {
    border: 1px solid var(--color-orange);
    color: var(--color-orange);
}

.resume-upload:hover .btn.btn-primary {
    border: 1px solid transparent;
    color: #ffffff;
    background: #ed4e08;
}

.resume-upload:hover .btn.btn-primary .required {
    color: #ffffff;
}
